{% extends  'base.html' %}
{% block main%}
{% if user.is_authenticated %}
<p>Username :  <b>{{user.username}}</b>   <a href="logout/">Logout</a></p>
{% else %}
<a href="login/">Login</a>
{% endif %}
<h3>National Bank's rates</h3>

<form action="do/" method="post"  >
{% csrf_token %}
from:
<input name="sdat" type = "date">
to:
<input name="fdat" type = "date">
<br>

<select name ="doing">
  <option value="addrecord">add</option>
  <option value="updaterecord">update</option>
  <option value="delrecord">delete</option>
  <input type="submit" value="Do"
         onclick ="
         {% if not user.is_authenticated %}
         alert('You should get authenticated!')
         {% endif %}">
</select>
</form>
<br>

<table border="1">
<tr>

<td width="450"><b>DATE</b></td>
<td width="150"><b>USD</b></td>
<td width="150"><b>EUR</b></td>
<td width="150"><b>RUB</b></td>
<td width="150"><b>SEND</b></td>


</tr>
{% for x in myarchives %}
<tr>
<!--<td>{{ x.id }}</td>-->
<td>{{ x.dat }}</td>
<td>{{ x.usd }}</td>
<td>{{ x.eur }}</td>
<td>{{ x.rub }}</td>
<td><a {% if user.is_authenticated %} href="tel/{{ x.id }}"{% endif %}>send</a></td>
</tr>
{% endfor %}
</table>

{% endblock %}
