<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Archives</title>
</head>
<body>
<h1>National Bank's rates</h1>

<table border="1">
<tr>
<!--<td>ID</td>-->

    <td width="100"><b>DATE</b></td>
<td width="70"><b>USD</b></td>
    <td width="70"><b>EUR</b></td>
    <td colspan="3" width ="180"><b>ACTION</b></td>

</tr>
{% for x in myarchives %}
<tr>
<!--<td>{{ x.id }}</td>-->
<td>{{ x.dat }}</td>
<td>{{ x.usd }}</td>
<td>{{ x.eur }}</td>
<td><a href="delete/{{ x.id }}">delete</a></td>
<td><a href="update/{{ x.id }}">update</a></td>
<td><a href="send/{{ x.id }}">send</a></td>
</tr>
{% endfor %}
</table>
<p>
<a href="add/">Add data</a>
</p>
</body>
</html>